button {
  cursor: pointer;
  background-color: var(--color-featureLight);
  border-radius: 4px;
  border: 0;
  font-size: 14px;
  font-weight: 600;
  color: inherit;
  padding: 0 12px;
  outline: 0;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  &.small {
    height: 32px;
  }

  &.tiny {
    height: 24px;
    font-size: 12px;
    padding: 0 8px;
  }

  &.big {
    height: 40px;
  }

  &.full {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-subtext);
    background-color: var(--color-featureDark);
  }

  &.success {
    background-color: var(--color-success);
  }

  &.danger,
  &.error {
    background-color: var(--color-error);
  }

  &.clear {
    background-color: var(--color-bgLight);
    border: 1px solid var(--color-border);

    &:disabled {
      color: var(--color-bgLight);
      background-color: var(--color-bgDark);
    }
  }
}

a {
  &:hover {
    cursor: pointer;
  }

  &.button {
    height: 32px;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.large {
    height: 40px;
  }
}
