:root {
  --color-feature: #0b3d6b;
  --color-featureLight: #044888;
  --color-featureDark: #082c4f;

  --color-border: #34353c;

  --color-bg: #1e1b21;
  --color-bgLight: #2b2930;
  --color-bgDark: #19171c;

  --color-text: #ffffff;
  --color-subtext: #dddddd;

  --color-success: #13aa18;
  --color-error: #c31414;
  --color-warn: #cc5900;
  --color-info: #0267cb;
  --color-notice: #5d5d5d;
}
