:root {
  --color-feature: #0a4e8e;
  --color-featureLight: #0c61b1;
  --color-featureDark: #06345e;

  --color-border: #393a44;

  --color-bg: #202329;
  --color-bgLight: #24262b;
  --color-bgDark: #1b1d20;

  --color-text: #ffffff;
  --color-subtext: #dddddd;

  --color-success: #13aa18;
  --color-error: #aa1616;
  --color-warn: #cc5900;
  --color-info: #0267cb;
  --color-notice: #5d5d5d;
}
