@import '../style/all.scss';

$menuWidth: 256px;
$menuWidthRaw: 256;

a {
  font-weight: 600;
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100vh;
  color: var(--color-text);
  background-color: var(--color-bg);
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.layout {
  overflow-y: hidden;
  display: grid;
  grid-template-areas: 'header' 'content';
  grid-template-rows: 60px auto;
  grid-template-columns: auto;
  height: 100vh;
  width: 100%;

  &__brand {
    font-size: 16px;
    font-weight: 700;
    background-color: var(--color-feature);
    border-radius: 12px;
    padding: 8px 12px;
  }

  &__header {
    grid-area: header;
    background-color: var(--color-bgLight);
    border-bottom: 1px solid var(--color-border);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0 16px;
    justify-content: space-between;

    .hamburger {
      padding: 8px 0;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto-fit, 3px);
      justify-content: space-around;
      align-content: space-between;
      row-gap: 4px;
      cursor: pointer;

      > div {
        width: 30px;
        height: 3px;
        background-color: white;
      }

      &.hide {
        display: none;
      }
    }

    .layout__left {
      display: flex;
    }

    .layout__center {
      display: flex;
      justify-content: center;
    }

    .layout__right {
      display: flex;
      justify-content: flex-end;

      .button {
        width: 40px;
      }
    }
  }

  &__sidebar {
    display: flex;
    position: fixed;
    width: $menuWidth;
    height: 100%;
    transition: left 0.5s;

    @include mobile {
      left: -$menuWidth;

      &.expand {
        left: 0;
      }
    }

    .layout__menu {
      background-color: var(--color-bgLight);
      width: $menuWidth;
      height: 100%;
      display: grid;
      grid-template-rows: repeat(auto-fit, 40px);
      padding-top: 8px;

      grid-gap: 4px;
    }

    .layout__overlay {
      z-index: -1;
      top: 0;
      left: 0;
      position: absolute;
      display: none;
      height: 100vh;
      width: calc(100vw * 1.5);
      background-color: rgba($color: #000000, $alpha: 0.5);

      &.expand {
        display: unset;
      }
    }

    .layout__link {
      padding: 0 24px;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;

      &:hover {
        background-color: var(--color-feature);
        transition: ease-in 0.2s;
      }
    }

    .layout__searchbtn {
      width: 40px;
    }

    .layout__item {
      display: flex;
      justify-content: center;
    }

    .layout__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 0;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: var(--color-bg);
      margin: 0 16px;
    }
  }

  &__content {
    grid-area: content;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--color-bgDark);
    display: flex;

    .layout__container {
      max-width: 1280px;
      width: 100%;
      padding: 16px;
      @include desktop {
        margin-left: $menuWidth;
      }

      @include mobile {
        padding: 8px;
      }

      &.full {
        max-width: none;
        margin-left: 0;
      }
    }
  }

  &__footer {
    grid-area: footer;
    background-color: var(--color-featureDark);
  }
}
